.blank {
	font-size: 40px;
}

.red {
	font-size: 50px;
	color: white;
	background-color: red;
}

.blue {	
	font-size: 30px;
	background-color: blue;
	color: white;
}

.size {
	font-size: 70px;
}

.newfont {
	font-size: 50px;
	font-family: Georgia;
}

.underline {
	font-size: 35px;
	text-decoration: underline;
}

.spin {
	font-size: 40px;
	-webkit-animation: spin 5s infinite;
}

@-webkit-keyframes spin {
   from { -webkit-transform: rotate(0deg); }
   to { -webkit-transform: rotate(360deg); }
}

body {
	background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRJhbPEQNcgCYVXZWv_97-8hnYDrd0E5zpkBR4GMRdwG0jKzRvg);
}

button {
	width: 200px;
	height: 60px;
	font-size: 40px;
	
}
.btn-lg {
	font-size: 30px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

div {
	text-align: center;
}

.headline {
	color: black;
	font-weight: bolder;
	font-size: 150px;
	width: 1000px;
	height: 150px;
}

header {
	border-radius: 20px;
	margin: 100px;
	width: 1000px;
	height: 150px;
	background-color: #F6F792;
}
span {
	background-color: #F6F792;
}

h1 {	
	font-size: 70px;
	font-weight: bold;
	padding-top: 10px;
	text-align: center;
}